@function rem($px){//$px为需要转换的大小
    @return $px / 108px * 1rem; // 108为移动端的分辨率
}
*{
	margin:0;
	padding:0;
}

a{
	text-decoration:none;
}
ul{
	list-style:none;
}
li{
	list-style:none;
}

/*===============头部start=================*/
.header{
	width:rem(1080px);
	height:rem(640px);
	background-image:url(../image/bg.jpg);
	background-size:100%;
	.top{
		width:rem(1080px);
		height:rem(135px);
		span{
			display:block;
			float:left;
			width:rem(176px);
			height:rem(74px);
			background:#565658;
			border-radius:rem(38px);
			color:#fff;
			font-size:rem(40px);
			line-height:rem(74px);
			margin-left:rem(50px);
			margin-top:rem(34px);
			.icon-xia{
				font-size:rem(30px);
			}
		}
		h4{
			margin-right:rem(50px);
			margin-top:rem(34px);
			float:right;
			.icon-ren{
				font-size:rem(60px);
				color:#fff;
			}
		}
		
	}
	.biaoti{
		margin:0 auto;
		width:rem(606px);
		height:rem(186px);
		background-image:url(../image/1.png);
		background-size:100%;
		background-repeat:no-repeat;
		background-position-y:rem(76px);
	}
	.search{
		margin:0 auto;
		margin-top:rem(180px);
		width:rem(990px);
		height:rem(105px);
		background:#fff;
		h3{
			float:left;
			.icon-chakan{
			font-size:rem(90px);
			color:#ddd;
		}
		
		}
		input{
			float:left;
			width:rem(800px);
			height:rem(105px);
			border:none;
			font-size:rem(38px);
		}
	}
}
/*===============头部=end================*/

.dao{
	display:flex;
	width:rem(1080px);
	height:rem(624px);
	border-bottom:rem(5px) solid #e5e5e5;
	align-items:center;
	text-align:center;
	flex-wrap:wrap;
	.dao_1{
		width:25%;
		height:rem(228px);
		align-items:center;
		text-align:center;
		img{
			width:70%;
			height:100%;
		}
	}
}
/*====================================*/
.gj{
	margin-top:rem(36px);
	padding-left:rem(60px);
	width:rem(1080px);
	height:rem(672px);
	border-bottom:rem(5px) solid #e5e5e5;
	border-top:rem(5px) solid #e5e5e5;
	.chang{
		display:block;
		width:rem(1020px);
		height:rem(165px);
		border-bottom:rem(5px) solid #e5e5e5;
		line-height:rem(165px);
		color:#333;
		font-size:rem(48px);
		font-weight:600;
	}
	.chang1{
		display:flex;
		width:100%;
		height:rem(336px);
		flex-wrap:wrap;
		.itom{
			display:block;
			width:18.5%;
			height:rem(162px);
			margin-top:rem(50px);
			span{
				width:rem(75px);
				display:block;
				font-size:rem(75px);
				margin:0 auto;
			}
			div{
				text-align:center;
				margin-top:rem(15px);
				font-size:rem(44px);
			}
		}
	}
}

/*===============================*/
.middle{
	border-top:rem(5px) solid #e5e5e5;
	border-bottom:rem(5px) solid #e5e5e5;
	margin-top:rem(45px);
	width:rem(1020px);
	height:rem(4500px);
	padding-left:rem(60px);
	h3{
		width:rem(1020px);
		height:rem(165px);
		line-height:rem(165px);
		span{
			width:rem(600px);
			height:rem(165px);
			font-size:rem(50px);
			color:#333;
		}
		a{
			float:right;
			font-weight:400;
			color:#9c9fa1;
			margin-right:rem(90px);
		}		
	}

	.list{
		width:rem(1020px);
		height:rem(4000px);
		li{
			width:rem(1020px);
		height:rem(446px);
		padding:rem(80px) rem(80px) rem(80px) 0;
		border-top:rem(5px) solid #e5e5e5;
			.img{
				float:left;
				width:rem(324px);
				height:rem(247px);
				img{
					width:rem(324px);
				    height:rem(247px);
				}
			}
			.text{
				float:left;
				padding-left:rem(80px);
				width:rem(576px);
				height:rem(308px);
				h4{
					color:#394043;
					font-size:rem(48px);
					font-weight:400;
					margin-bottom:rem(21.6px);
				}
				h5{
					margin-bottom:rem(21.6px);
					color:#8b8b8b;
					font-size:rem(40px);
				}
				h6{
					margin-bottom:rem(21.6px);
					width:rem(576px);
					height:rem(45px);
					.wan{
						color:#fa5741;
						font-size:rem(42px);
					}
					.ping{
						color:#9c9fa1;
						font-size:rem(36px);
					}

				}
				h2{
						width:rem(576px);
						height:rem(48px);
						margin-top:rem(-20px);
						.kan{
							color:rgb(51,190,133);
							font-size:rem(36px);
							background:rgba(51,190,133,0.15);
						}
						.ti{
							color:rgb(123,189,255);
							font-size:rem(36px);
							background:rgba(123,189,255,0.15);
						}
					}
			}
			.textbottom{
				float:left;
				margin-top:rem(100px);
				padding:0 rem(24px) rem(12px) rem(24px);
				width:rem(914px);
				height:rem(78px);
				color:#9c9fa1;
				font-size:rem(48px);
			}
		}

	}
}


/*=====================================*/
footer{
	margin-top:rem(36px);
	padding:0 rem(45px);
	height:rem(796px);
	width:rem(990px);
	background:rgb(47,49,48);
	.nav{
		width:rem(990px);
		height:rem(122px);
		color:#727373;
		border-bottom:1px solid #3e403f;
		line-height:rem(122px);
		font-size:rem(42px);
	}
	.link{
		width:rem(990px);
		height:rem(122px);
		h3:nth-child(1){
					float:left;
					margin-right:rem(24px);
					height:rem(122px);
					width:rem(471px);
					background:#3c3f3d;
					color:#fff;
					text-align:center;
					line-height:rem(122px);
					font-size:rem(42px);
		}
		h3:nth-child(2){
					float:left;
					margin-left:rem(24px);
					height:rem(122px);
					width:rem(471px);
					background:#212121;
					color:#6e6e6e;
					text-align:center;
					line-height:rem(122px);
					font-size:rem(42px);
		}
	}
	.end{
		padding:rem(30px) 0;
		width:rem(990px);
		height:rem(400px);
		.endul{
			list-style:normal;
			width:rem(990px);
			height:rem(500px);
			display:flex;
			flex-wrap:wrap;
			.endli{
				line-height:rem(100px);
				text-align:center;
				margin-left:24px;
				width:30%;
				height:rem(100px);
				font-size:rem(48px);
				color:rgb(130,131,131);

		    }
		}
		
	}
}